.sr-icons {
    padding-top: 20px;
}

#profile-pic {
    height: 250px;
    width: 250px;
    /*margin-bottom: -20px;*/
    /*padding: 10px;*/
    border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hack', 'roboto mono', monospace;
}

#homeHeading {
    /*margin-top: -10px;*/
    padding-bottom: 15px;
    text-transform: none;
}
