.sr-icons {
    padding-top: 20px !important;
}

#profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url("../images/profile.jpg");
    background-size: contain;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hack', 'roboto mono', monospace !important;
}

#homeHeading {
    padding-bottom: 15px;
    text-transform: none;
}

.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

iframe.content {
    width: 90%;
    height: 90%;
}

#ted-talk {
    margin-top: 10px;
    margin-bottom: -20px;
}
