{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% if about_me %}
        <li><a class="page-scroll" href="#about">About Me</a></li>
    {% endif %}
        <li><a class="page-scroll" href="#resume-section">Resume</a></li>
    {% if projects %}
        <li><a class="page-scroll" href="#portfolio">Companies</a></li>
    {% endif %}
    <li>
        <a class="page-scroll" href="#contact">Contact</a>
    </li>
{% endblock navbar %}

{% block content %}
    {% if about_me %}
        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">About Me</h2>
                        <hr class="light">
                        {% for section in about_me %}
                            <p class="text-faded">{{ section.body }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if resume_list %}
        <section id="resume-section" class="small-padding">
            <!--<div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">My Resume</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>-->
            <div class="container">
                <div class="row">
                    {% for section in resume_list %}
                        <div class="col-lg-4">
                                <i class="fa fa-5x fa-{{ section.icon_name }} text-primary sr-icons"></i>
                                <h3 class="resume-section-title">{{ section }}</h3>
                                {% if section.inline %}
                                    <ul class="list-inline">
                                        {% for item in section.resumesectionitem_set.all %}
                                            <li class="text-muted item-header">
                                                {% if not item.first %}&bull;&emsp;&emsp;{% endif %}{{ item.header }}
                                                {% if item.start_date or item.prefix %}
                                                    <em>&emsp;{% if item.prefix %}{{item.prefix}} {% endif %}{{item.start_date|date:"Y"}}{% if item.end_date %}-{{item.end_date|date:"Y"}}{% endif %}</em>
                                                {% endif %}
                                            </li>
                                            {% if item.description %}
                                                <li class="item-description">
                                                    {{ item.description }}
                                                </li>
                                            {% endif %}
                                            {# <hr class="disappear"/>#}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% for item in section.resumesectionitem_set.all %}
                                        <p class="text-muted item-header">
                                            <strong>{{ item.header }}</strong>
                                            {% if item.start_date or item.prefix %}
                                                {% if item.prefix %}{{item.prefix}} {% endif %}{{item.start_date|date:"Y"}}{% if item.end_date %}-{{item.end_date|date:"Y"}}{% endif %}
                                            {% endif %}
                                        </p>
                                        {% if item.description %}
                                            <p class="item-description">
                                                {{ item.description }}
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            <!-- </div> -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                {% for project in projects %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'images/portfolio/fullsize/'|add:project.img_name|add:'.jpg' %}" class="portfolio-box">
                        <img src="{% static 'images/portfolio/thumbnails/'|add:project.img_name|add:'.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ project.category }}
                                </div>
                                <div class="project-name">
                                    {{ project.name }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <hr class="light">
                    <p>Feel free to get in touch with me through any of the links bellow</p>
                </div>
                <div class="col-lg-2 col-lg-offset-3 text-center">
                    <i class="fa fa-github fa-3x sr-contact"></i>
                    <p></p>
                    <p><a href="https://www.github.com/blrichards" class="text-faded" id="facebook">github</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:blrichards@me.com" class="text-faded no-decoration">email</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-linkedin fa-3x sr-contact"></i>
                    <p></p>
                    <p><a href="https://www.linkedin.com/in/ben-richards-809a9793" class="text-faded no-decoration">linkedin</a></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr class="light">
                    <p><em>code for this website can be found on my <code><a href="https://github.com/blrichards/Resume-Site">github</a></code></em></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
