{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <li>
        <a class="page-scroll" href="#resume-section">TED Talk</a>
    </li>
{% endblock navbar %}

{% block content %}
    <section id="resume-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Brain Magic | Keith Barry</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="container sixteen-nine">
                        <div class="content">
                            <iframe src="https://www.youtube.com/embed/GigYWy2UmOY" class="content" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="container" id="ted-talk">
                        <h4>This talk is awesome.</h4>
                        <h4>It really shows how the human brain is more powerful than anyone can imagine.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
